<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Puerto HTTP del servidor de reportes -->
    <add key="Port" value="5060" />
    
    <!-- Ruta base de los archivos .rpt (si se omite, usa ./Reportes) -->
    <!-- <add key="ReportesFolder" value="D:\DatqBoxWorkspace\DatqBoxWeb\DatqBox.LocalFiscalAgent\Reportes" /> -->
    
    <!-- Conexión SQL Server por defecto (para sobreescribir la del .rpt) -->
    <add key="DefaultServer" value="DELLXEONE31545" />
    <add key="DefaultDatabase" value="sanjose" />
    <add key="DefaultUser" value="sa" />
    <add key="DefaultPassword" value="1234" />
  </appSettings>
</configuration>
